<!DOCTYPE html>
<html>
<<<<<<< HEAD
  <head>
    <title>AfricaRisingHero</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
=======
<head>
  <title>AfricaRisingHero</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
>>>>>>> 92b8ccc04b504aaa0d2b14e313a2fd4f8d077aed
</html>
